.DS_Store
Core/Pods
/.DS_Store
*.lyx~
/Core/DefaultEvents/generated/Alpha.bundle
xcdebugger
/iOS/.idea/
*.xcuserdatad
xcuserdata

*.egg-info/
__pycache__/
venv/
*.swp

.build
**/target/*
**/build/*
**/.bundle/*
**/.idea/*
!.idea/runConfigurations/
!.idea/codeStyles/
**/.gradle/*
*.iml
*.tar.gz
**/.cache/*
local.properties
*.orig

app_store_connect_api_key.json
HWR/Pods
HWR/HandwritingRecognitionDemo/Pods
RichTextEditing/Pods

.direnv

node_modules/
vendor/

.parcel-cache/

LearnPreview-Info.plist
.vscode
/test_output
.pre-commit-config.yaml
